<h1 class="title"><edit-span span-contents="game.title"></edit-span></h1>
<div ng-if="game" class="new-player-container">
    <input type="text"
        id="new-player"
        class="form-control pull-left"
        ng-model="newPlayer.name"
        placeholder="Add Player">
    <button class="btn btn-default pull-left" ng-disabled="!newPlayer.name" ng-click="addPlayer(newPlayer.name)">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>

<div class="clearfix"></div>

<div class="container-fluid score-table">
    <div class="player-col" ng-repeat="player in game.players">
        <h3><edit-span span-contents="player.name"></edit-span></h3>
        <hr>
        <div collapse="player.collapseHistory">
            <div ng-repeat="history in player.scoreHistory"
                ng-if="player.score !== history.score">
                <s class="score history">{{history.score}}</s>
            </div>
        </div>

        <div class="score" ng-click="player.collapseHistory = !player.collapseHistory">{{player.score}}</div>
        <br>
        <div class="form-group">
            <span class="glyphicon glyphicon-plus points"></span>
            <input type="number" class="form-control points" ng-model="player.pointsToAdd">
            <button class="btn btn-default" ng-disabled="!player.pointsToAdd" ng-click="addPoints(player)">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>
        <hr>
        <div ng-repeat="attr in player.metadataKeys" class="form-group custom">
            <label>{{attr}}</label>
            <edit-span span-contents="player.metadata[attr]"></edit-span>
            <button class="btn btn-danger btn-xs pull-right" ng-click="deleteInfo(player, attr)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        <button class="btn btn-default btn-sm" ng-click="addInfo(player)">
            <span class="glyphicon glyphicon-tags"></span>
        </button>
        <button class="btn btn-danger btn-sm pull-right" ng-click="deletePlayer(player)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>
