<div class="jumbotron">
    <p>
        Keeping score for <edit-span span-contents="game.title"></edit-span>!
    </p>
    <p>Players:
        <ul>
            <li ng-repeat="player in game.players">
                <ul>
                    <li>{{player.name}}</li>
                    <li>{{player.points}} <button ng-click="player.addPoints(1)">Add Point</button></li>
                </ul>
            </li>
        </ul>
    </p>
    <form ng-if="game">
        <div class="form-group">
            <label for="new-player">New Player:</label>
            <input type="text" id="new-player" class="form-control" ng-model="newPlayer.name">
        </div>
        <button class="btn btn-default" ng-disabled="!newPlayer.name" ng-click="addPlayer(newPlayer.name)">
            Add
        </button>
    </form>
</div>
